@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

nav {
    background: #f3f3f3;
    -webkit-box-shadow: 6px 8px 12px -2px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 6px 8px 12px -2px rgba(0, 0, 0, 0.43);
    box-shadow: 6px 8px 12px -2px rgba(0, 0, 0, 0.43);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end; /*position to the right*/
    align-items: center; /*vertically align at the center*/
    list-style: none; /*remove bullets*/
    height: 60px;
}

nav li {
    padding: 0px 24px;
}

nav li:first-child {
    margin-right: auto;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
    color: #a82525;
    font-weight: 600;
    transition: color 400ms, font-size 400ms;
}

nav a:hover{
   color: #cd5050;
   font-size: 1.08em;
}

footer{
    border-top: 1px solid #bdbdbd;
}

footer .social-media-links{
    height: 120px;
    background: #555454;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-links a{
    margin:0 18px;
}

.social-media-links img{
   width: 40px;
   height: 40px;
}

footer .copyright{
    padding: 16px 0;
    text-align: center;
}

/*Hero section*/
.hero{
    min-height: 100vh;
    background: url("images/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;/*parallax effect*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero div{
    width: 80%;
    background: rgba(108, 100, 100, 0.8);
    padding: 20px 16px;
    border-radius: 15px;
    color: #c8c6c6;
}

.hero h2{
    text-align: center;
    margin-bottom: 16px;
    font-size: 2em;
}

.hero p{
    text-align: justify;
    line-height: 24px;
}


/*features section*/
.features{
    display: flex;
}

.left-div, .right-div{
    width: 50%;
}

.left-div img{
    width: 100%;
    height: 100%;
}

.right-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;
    text-align: center;
}





